* {
    background-color: rgb(153, 201, 217);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 64px;
    font-weight: lighter;
    margin: 0px;
    color: black;
}

section {
    margin-top: 100px;
    margin-bottom: 10px;
}

li {
    margin-top: 20px;
    font-size: 32px;
    list-style: none;
}

img {
    display:flex;
    border: 5px solid;
    border-radius: 10px;
    display: flex;
    background-color: black;
    margin:auto;
}

.run-buddy img:hover, .horiseon img:hover, .inspo img:hover {
    
}

.nav li {
    display: inline;
    padding: 8px;
}

a:hover {
    text-decoration: underline;
}